security:
  oauth2:
    resource:
      user-info-uri: http://localhost:10000/validateUser # 같은 인스턴스
#      user-info-uri: http://52.78.214.93:10000/validateUser # 다른 인스턴스

server:
  port: 0

spring:
  application:
    name: msa-survey-service
#  datasource:
#    url: jdbc:h2:mem:survey
#    username: sa
#    password: sa
#    driverClassName: org.h2.Driver
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${MYSQL_URL}/sulmoon
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE


eureka:
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/ # 같은 인스턴스
#      defaultZone: http://52.78.35.130:8761/eureka/ # 다른 인스턴스
